# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.idea
.project
.settings
.classpath

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
target
bin
.docz

# freon generated
src/freon/config
src/freon/diagrams
src/freon/interpreter
src/freon/editor
src/freon/language
src/freon/lionweb
src/freon/reader
src/freon/scoper
src/freon/stdlib
src/freon/typer
src/freon/utils
src/freon/validator
src/freon/writer
src/freon/index.ts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log
yarn-debug.log
yarn-error.log

